{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <link rel="stylesheet" type="text/css" href=
            "{% static 'css/base.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/top_footer.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/cart.css' %}"/>
    <script src="{% static 'js/jquery-1.12.0.js' %}"></script>
    <!--再导入cookie-->
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>
    {#    <script src="{% static 'js/jiao.js' %}"></script>#}
</head>

<body>

<div id="header">
    <!------------top部分------------>
    <div class="top">
        <div class="top_head">
            <div class="top_l">华盛奥特莱斯全渠道一体化零售平台</div>
            <div class="top_r">
                <ul>
                    <li class="top_login">
                        <a href="{% url 'alg:login' %}">
                            用户：{{ user.name | default:'未登录' }}
                        </a>
                        {% if user %}
                            <a href="{% url 'alg:logout' %}">退出登录</a>
                        {% endif %}
                    </li>
                    <li class="top_register">
                        <a href="{% url 'alg:register' %}"
                           target="_blank">免费注册</a>
                    </li>
                    <li class="top_mygo">
                        <a href="{% url 'alg:index' %}">我的奥莱购</a>
                        <dl class="mygo_down">
                            <dd>
                                {% if user %}
                                    <a href="{% url 'alg:orderlist' %}">我的订单</a>
                                {% else %}
                                    <a href="{% url 'alg:login' %}">我的订单</a>
                                {% endif %}
                            </dd>
                            <dd>
                                <a href="#">我的收藏</a>
                            </dd>
                            <dd>
                                <a href="#">我的优惠卷</a>
                            </dd>
                            <dd>
                                <a href="{% url 'alg:cart' %}">我的购物车</a>
                            </dd>
                        </dl>

                    </li>
                    <li>
                        <a target="_blank" href="#">手机APP</a>
                    </li>
                    <li class="help_center">
                        <a href="#">帮助中心</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-------logo------->
    <div class="head_blank">
        <div class="head_msg">
            <div class="logo_l">
                <a href="{% url 'alg:index' %}" target="_blank">
                    <img src="{% static 'img/logo_01.jpg' %}">
                </a>
                <a href="#">
                    <img src="{% static 'img/cart-ft.jpg' %}">
                </a>
            </div>
        </div>
        <div class="head_search">
            <div class="search_box">
                <div class="search_text">
                    <input type="text" id="keyword"
                           class="search_l_text" value="拉夏贝尔"
                           maxlength="100">
                </div>
                <div class="search_btn">
                    <input type="button" class="search_r_btn"
                           value="搜索">
                </div>
            </div>

        </div>
    </div>
</div>

<div class="cart_ad">
    <a href="#">
        <img src="{% static 'img/cart_ad.jpg' %}">
    </a>
</div>

<!--------购物车清单---------->
<!--有商品  商品清单显示-->

<div class="cart_msg">
    <div class="cartlist_tittle_l">商品清单(&nbsp;<span>0</span>&nbsp;)
    </div>
    <div class="cartlist_tittle_r" style="display: none;">
        <img src="{% static 'img/alg-lodding.gif' %}">
    </div>
</div>

<!--------购物车详情---------->
<div class="cart_msg">
    {% if not iscart %}
        <div class="cart_title">
            <p>购物车</p>
        </div>
        <div class="cart_msg_content">
            <!--没有商品-->
            <div class="cart_msg_empty">
                <img src="{% static 'img/car-b.png' %}">
                <span> 购物车内暂时没有商品，去
                <a href="{% url 'alg:index' %}  "
                   target="_blank">
                    首页
                </a>挑选喜欢的商品 </span>
            </div>
        </div>
        </div>
    {% endif %}

<div class="cart_msg cart_msg_data">
    <div class="cartlist_table">
        <ul class="cartlist_tittle">
            <li style="width:60px;">全选</li>
            <li style="width:536px;">订单商品</li>
            <li style="width:118px;">单价</li>
            <li style="width:118px;">数量</li>
            <li style="width:118px;">优惠</li>
            <li style="width:118px;">小计</li>
            <li style="width:118px;">操作</li>
        </ul>
    </div>
    <div class="cart_msg_a">
        {% for cart in carts %}
            <ul class="cartlist_info table_msg ">

                <div class="cartlist_info_choose table_data
                confirm-wrapper" data-cardid="{{ cart.id }}">
                    {% if cart.isselect %}
                        <span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                        <span class="no"></span>
                    {% endif %}
                </div>

                <li class="cartlist_info_goods table_data">

                    <div class="order_gooods">
                        <div class="cartlist_goods_tu">
                            <a>
                                <img src="{{ cart.goods.xxsrc1 }}"
                                     alt="">
                            </a>
                        </div>
                        <div class="cartlist_goods_type">
                            <div class="cartlist_goods_msg">
                                <a class="goods_type_title"><i
                                        class='type_icon'>

                                </i>{{ cart.goods.productlongname }}
                                </a>
                            </div>
                            <div class="goods_types">
                                <span class="goods_types_size"
                                      style="color: red">
                                    {{ cart.size }}</span>
                                <span class="goods_types_color"
                                      style="color: red">
                                    {{ cart.color }}</span>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="cartlist_info_singleprice table_data"
                    data-price="{{ cart.goods.newprice }}">
                    {{ cart.goods.newprice }}
                </li>

                <li class="cartlist_info_number table_data">
                    <div class="info_num">
                        <ul>
                            <span class="subnum"
                                  data-cartid="{{ cart.id }}"
                                  data-goodsid="{{ cart.goods.id }}">-</span>
                            <span class="cartlist_goods_num"
                                  data-number="{{ cart.number }}">
                                        {{ cart.number }}
                            </span>
                            <span class="addnum"
                                  data-goodsid="{{ cart.goods.id }}"
                                  data-cartid="{{ cart.id }}">+</span>
                        </ul>
                    </div>
                </li>

                <li class="cartlist_info_cheap table_data"
                    data-oldprice="{{ cart.goods.oldprice }}">
                    <span>活动优惠：￥</span>
                    <b></b>
                </li>

                <li class="cartlist_info_total table_data">
                    <span></span>
                </li>

                <li class="cartlist_info_handle table_data"
                    data-cartid="{{ cart.id }}">
                    <a>删除</a>
                </li>

            </ul>
        {% endfor %}
    </div>


</div>

<div class="goBuy">
    <div class="goBuy_l">
        {#            <span>#}
        {#                <input type="checkbox" id="allchecked"#}
        {#                       checked="checked">#}
        {#            </span>#}
        <div class=" table_data
            confirm-wrapper selectall" data-all="{{ isall|lower }}">
            {% if isall %}
                <span class="glyphicon glyphicon-ok"></span>
            {% else %}
                <span class="no"></span>
            {% endif %}
            <b>全选</b>
        </div>

        <span class="delcartall ">删除全部商品</span>

    </div>
    <div class="goBuy_r">
        <ul>
            <li>
                <div class="buy_total">
                    总计：￥
                    <span></span>
                </div>
            </li>
            <li>
                {% if user %}
                <a href="{% url 'alg:generateorder' %}">去结算</a>
                    {% else %}
                     <a href="{% url 'alg:login' %}">去结算</a>
                {% endif %}
            </li>
        </ul>
    </div>
</div>
</div>

<div id="cart_hotsale">
    <div class="cart_hotsale_title">
        <p>热卖推荐</p>
    </div>
    <div class="cart_hotsale_content" style="position: relative;">
        <ul>
            <!--<li>
                <div class='cart_hotsale_tu'>
                    <a href='#' target='_blank'><img src="+src+"/></a>
                </div>
                <div class='cart_hotsale_type'></div>
                <div class='cart_hotsale_price'></div>
            </li>-->
        </ul>
    </div>
</div>


<!----------footer部分----------->
<div id="footer">
    <div class="foot_top">
        <div class="foot_sign">
            <ul>
                <li><i class="foot_icon1"></i>
                    <div class="foot_tip">
                        <dl>
                            <dt>100%</dt>
                            <dd>全场正品保证</dd>
                        </dl>
                    </div>
                </li>
                <li class="foot_sign_li"><i class="foot_icon2"></i>
                    <div class="foot_tip">
                        <dl>
                            <dt>Mall</dt>
                            <dd>实付满58包邮</dd>
                        </dl>
                    </div>
                </li>
                <li class="foot_sign_li"><i class="foot_icon3"></i>
                    <div class="foot_tip">
                        <dl>
                            <dt>SALE</dt>
                            <dd>每天低价特卖</dd>
                        </dl>
                    </div>
                </li>
                <li class="foot_sign_li"><i class="foot_icon4"></i>
                    <div class="foot_tip">
                        <dl>
                            <dt>7Days</dt>
                            <dd>七天无理由换货</dd>
                        </dl>
                    </div>
                </li>
                <li class="foot_sign_li"><i class="foot_icon5"></i>
                    <div class="foot_tip">
                        <dl>
                            <dt>全渠道</dt>
                            <dd>线上线下同步服务</dd>
                        </dl>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="foot_conter">
        <div class="foot_guild1">
            <p>购物指南</p>
            <ul>
                <li><a href="#" target="_blank">购物流程</a></li>
                <li><a href="#" target="_blank">用户注册</a></li>
                <li><a href="#" target="_blank">提交订单</a></li>
                <li><a href="#" target="_blank">找回密码</a></li>
                <li><a href="#" target="_blank">常见问题</a></li>
                <li><a href="#" target="_blank">跨境汇需知</a></li>
            </ul>
        </div>
        <div class="foot_guild2">
            <p>支付方式</p>
            <ul>
                <li><a href="#" target="_blank">网银支付</a></li>
                <li><a href="#" target="_blank">第三方支付</a></li>
                <li><a href="#" target="_blank">支付常见问题</a></li>
            </ul>
        </div>
        <div class="foot_guild2">
            <p>配送方式</p>
            <ul>
                <li><a href="#" target="_blank">配送服务查询</a></li>
                <li><a href="#" target="_blank">配送服务说明</a></li>
                <li><a href="#" target="_blank">验货与签收</a></li>
                <li><a href="#" target="_blank">包邮政策</a></li>
            </ul>
        </div>
        <div class="foot_guild2">
            <p>售后服务</p>
            <ul>
                <li><a href="#" target="_blank">退换货政策</a></li>
                <li><a href="#" target="_blank">退换货管理</a></li>
                <li><a href="#" target="_blank">退换货说明</a></li>
                <li><a href="#" target="_blank">退换货流程</a></li>
                <li><a href="#" target="_blank">跨境汇售后服务</a></li>
            </ul>
        </div>
        <div class="foot_guild2">
            <p>线下奥莱购购物中心</p>
            <ul>
                <li><a href="#" target="_blank">深圳华盛奥特莱斯</a></li>
                <li><a href="#" target="_blank">南宁华盛奥特莱斯</a></li>
                <li><a href="#" target="_blank">南昌华盛奥特莱斯</a></li>
                <li><a href="#" target="_blank">西安华盛奥特莱斯</a></li>
                <li><a href="#" target="_blank">郑州华盛奥特莱斯</a></li>
                <li><a href="#" target="_blank">哈尔滨华盛奥特莱斯</a></li>
            </ul>
        </div>
        <div class="foot_guild3">
            <div class="foot_official">
                <div class="foot_of_l">
                    <a href="#" target="_blank"><i
                            class="foot_of_icon1"></i></a>
                    <p>官方微博</p>
                </div>
                <div class="foot_of_r">
                    <a href="#" target="_blank"><i
                            class="foot_of_icon2"></i></a>
                    <p>官方应用</p>
                </div>
            </div>
            <div class="foot_phone font_phone_icon">
                <p>400 - 184 - 8866</p>
                <span>周一至周日：09:00-21:00</span>
            </div>
            <div class="onlne_service">
                <a href="#" target="_blank"><img
                        src="{% static 'img/chat.png' %}"></a>
            </div>
        </div>
    </div>
    <div class="foot_bottom">
        <div class="foot_link">
            <div class="foot_rel">
                <ul>
                    <li>关于奥莱购</li>
                    <li>联系我们</li>
                    <li>诚聘英才</li>
                    <li>商务合作</li>
                    <li>友情链接</li>
                    <li>华南城网</li>
                    <li>华盛Outlets</li>
                </ul>
            </div>
            <div class="foot_copyright">
                Copyright © 2013-2016 深圳华盛电子商务有限公司 粤ICP备16081451-1号 All
                Right<br><br>
                深圳市龙岗区平湖华南城1号交易广场4楼奥莱购（深圳华盛电子商务有限公司）
            </div>
            <div class="foot_partner">
                <ul>
                    <li class="partner_icon1"><a href="#"
                                                 target="_blank"></a>
                    </li>
                    <li class="partner_icon2"><a href="#"
                                                 target="_blank"></a>
                    </li>
                    <li class="partner_icon3"><a href="#"
                                                 target="_blank"></a>
                    </li>
                    <li class="partner_icon4"><a href="#"
                                                 target="_blank"></a>
                    </li>
                    <li class="partner_icon5"><a href="#"
                                                 target="_blank"></a>
                    </li>
                    <li class="partner_icon6"><a href="#"
                                                 target="_blank"></a>
                    </li>
                    <li class="partner_icon7"><a href="#"
                                                 target="_blank"></a>
                    </li>
                    <li class="partner_icon8"><a href="#"
                                                 target="_blank"></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>


</body>

</html>
